<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <link type="text/css" rel="stylesheet" href="/assets/picnic.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

   {% include 'navbar.html' %}

   <div class="stack" style="text-align: center;"><a href="/settings/modules"><button>Modules</button></a></div>
   <div class="stack" style="text-align: center;"><a href="/settings/times"><button>Active Times</button></a></div>
   <div class="stack" style="text-align: center;"><a href="/settings/database"><button>Database</button></a></div>
   <div class="stack" style="text-align: center;"><a href="/car/api_values"><button>Car API</button></a></div>

</div>

</body>