<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/assets/picnic.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    {% include 'navbar.html' %}


    <div class="stack" style="text-align: center;">
        <table style="margin: 0 auto;">
            <tr>
                <th>
                    Active Times
                </th>
            </tr>
            <form action="/settings/times/" method="post">
                <tr>
                    <td>
                        <label class="form-label" for="start_time">Start</label>
                        <input type="time" id="start_time" name="start_time" value="{{ display_start }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label" for="end_time">End</label>
                        <input type="time" id="end_time" name="end_time" value="{{ display_end }}" />
                    </td>
                </tr>
                <tr>
                    <td>

                        <input type="submit" value="Set Times">

                    </td>
            </form>
            </tr>

    </div>


    </table>
    </div>


</body>