<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/assets/picnic.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    {% include 'navbar.html' %}


    <div class="stack" style="text-align: center;">
        <h1>Darren Quotes</h1>
        <div class="stack" style="text-align: center;"><a href="/djquote/create"><button>Create a New Quote</button></a></div>
        <form action="/djquote/delete_quote" method="post">
            <table class="primary" style="margin: 0 auto;">
                <tr>
                    <th>Text</th>
                    <th>Delete</th>
                </tr>
                {% for quote in quotes %}
                <tr>
                    <td>
                        {{ quote.quote }}
                    </td>
                    <td>
                        <button type="submit" name="action" class="error" value="delete_{{ quote.id }}">Delete {{
                            quote.id
                            }}</button>
                    </td>
                </tr>

                {% endfor %}

            </table>
        </form>
    </div>

</body>