<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <link type="text/css" rel="stylesheet" href="/assets/picnic.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

   {% include 'navbar.html' %}

   <div style="text-align: center;">

      <h1>Other Quotes Page</h1>
  
      <div class="stack" style="text-align: center;"><a href="/otherquote/list"><button>List</button></a></div>
      <div class="stack" style="text-align: center;"><a href="/otherquote/create"><button>Create</button></a></div>
      <div class="stack" style="text-align: center;"><a href="/otherquote/random"><button>Random</button></a></div>
  



</body>
